@model Giftee.Web.Models.Registration
@{
  ViewBag.Title = "Register_Form";
}

<script type="text/javascript" 
        src="@Url.Content("~/Scripts/jquery.validate.min.js")">
        </script>
<script type="text/javascript"
        src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")">
        </script>

@using (Html.BeginForm())
{
  @Html.ValidationSummary(true)
  <fieldset>
    <legend>
      Please enter your first name, last name, and e-mail address.
    </legend>
    <div class="editor-label">
      @Html.LabelFor(model => model.FirstName,"First Name")
    </div>
    <div class="editor-field">
      @Html.EditorFor(model => model.FirstName)
      @Html.ValidationMessageFor(model => model.FirstName)
    </div>
    <div class="editor-label">
      @Html.LabelFor(model => model.LastName, "Last Name")
    </div>
    <div class="editor-field">
      @Html.EditorFor(model => model.LastName)
      @Html.ValidationMessageFor(model => model.LastName)
    </div>
    <div class="editor-label">
      @Html.LabelFor(model => model.Email, "E-Mail")
    </div>
    <div class="editor-field">
      @Html.EditorFor(model => model.Email)
      @Html.ValidationMessageFor(model => model.Email)
    </div>
    <div class="editor-label">
      @Html.LabelFor(model => model.EmailConfirm,"E-Mail (again)")
    </div>
    <div class="editor-field">
      @Html.EditorFor(model => model.EmailConfirm)
      @Html.ValidationMessageFor(model => model.EmailConfirm)
    </div>
    <p>
      <input type="submit" value="Register" />
    </p>
  </fieldset>
}
<div class="navigate">
  <p>Nevermind... 
  @Html.ActionLink("Take me back to the log on form", 
                   "Create","Sessions", 
                   new { httpMethod = "GET" }, 
                   new { /* ... */ }).</p>
</div>
