<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    
    <title>Giftee: @ViewBag.Title</title>
  
    <link rel="stylesheet" 
          type="text/css"
          href="@Url.Content("~/Content/Site.css")" />
    
    <script type="text/javascript" 
            src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")">
            </script>
    <script type="text/javascript" 
            src="@Url.Content("~/Scripts/modernizr-1.7.min.js")">
            </script>
  </head>
  <body>
    <div class="site_container">
      <div class="site_banner">
        <img src="@Url.Content("~/Content/images/2011_Banner.png")" 
             alt="Shore Feels Like Christmas!" />
      </div>
      <div class="site_column">
        <div class="site_body">
          @RenderBody()
          @if (User.Identity.IsAuthenticated)
          {
            @Html.Partial("_LogOff");
          }
        </div>
      </div>
      <div class="site_footer">
        Copyright &#169; 2011 Paulmichael Blasucci. All rights reserved.
      </div>
    </div>
  </body>
</html>
