@model IEnumerable<Giftee.Web.Models.Wish>
@{
  ViewBag.Title = "My Wishlist";
}

<fieldset>
  <legend>My Wishlist</legend>
  @{
    var itemCount = 0;  
  }
  <table>
    <tbody>
    @if (Model.Count() == 0)
    {
      <tr>
        <td class="col_empty">
          You haven't added any wishes yet. You probably should; the 
          wishlist is a great way to help your Giftor understand what sort 
          of things you want or need this Christmas.
        </td>
      </tr>
    }
    else
    {
      foreach (var item in Model)
      {
        itemCount++;
      <tr>
        <td class="col_num">@(itemCount).</td>
        <td class="col_text col_wrap">
        <pre class="scroll_block">@Html.DisplayFor(modelItem => item.Summary)</pre>
        </td>
        <td class="col_form">
          @using (Html.BeginForm("Delete", "Wishes", 
                                  new { wishID     = item.ID,
                                        httpMethod = "DELETE" },
                                  FormMethod.Post,
                                  new { @class    = "delete",
                                        data_item = item.Summary}))
          {
            @Html.HttpMethodOverride(HttpVerbs.Delete)
            <span>(</span><input type="submit" value="Remove" /><span>)</span>
          }
        </td>
      </tr>
      }
    }
    </tbody>
  </table>
</fieldset>

<div class="navigate">
  <p>I want to 
  @Html.ActionLink("add a wish", "Create",new{ httpMethod="GET" })
  to this list.</p>
  <p>This looks good. Let me 
  @Html.ActionLink("view info about my Giftee",
                   "Select","Giftees",
                   new{ httpMethod="GET" },
                   new{ /* ... */ }).</p>
  <p>It's time to 
  @Html.ActionLink("change my password",
                   "Update","Passwords",
                   new{ httpMethod="GET" },
                   new{ /* ... */ }).</p>
@if (User.IsInRole("Admin"))
{
  <p>I need to perform some
  @Html.ActionLink("administration",
                    "Gather","Giftors",
                    new { httpMethod = "GET" },
                    new { /* ... */ }) 
  tasks.</p>
}
</div>

<script type="text/javascript">
$(document).ready(function(){
  $("form.delete input[type=submit]")
    .mouseover (function(){$(this).css("text-decoration","none"     );})
    .mouseleave(function(){$(this).css("text-decoration","underline");});
  $("form.delete").submit(function(){ 
    return confirm("You are about to remove a wish for\n"
                  + "-------------------------------------------------\n\n"
                  + $(this).attr("data-item")
                  + "\n\n-------------------------------------------------"
                  +"\nThis can not be undone. Continue anyway?");
  });
});
</script>
