@model Giftee.Web.Models.Wish
@{
  var isNew   = (Model == null) || (Model.ID == Guid.Empty);
  var action  = isNew ? "Create"   : "Update";
  var method  = isNew ? "POST"     : "PUT";
  var command = isNew ? "Add Wish" : "Update Wish";
  ViewBag.Title = command;
}

<script type="text/javascript" 
        src="@Url.Content("~/Scripts/jquery.validate.min.js")">
        </script>
<script type="text/javascript" 
        src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")">
        </script>

@using (Html.BeginForm(action,"Wishes",new{ httpMethod=method }))
{
  if (!isNew) { @Html.HttpMethodOverride(HttpVerbs.Put) }
  <fieldset>
    <legend>
    Describe something you'd like to receive from your giftor.
    </legend>
    <div class="editor-field">
      @Html.TextAreaFor(model => model.Summary)
      @Html.ValidationMessageFor(model => model.Summary)
    </div>
    <p>
      <input type="submit" value="@(command)" />
    </p>
  </fieldset>
}
@Html.ValidationSummary(true)

<div class="navigate">
  <p>Okay, that looks good. Take me 
  @Html.ActionLink("back to my wishlist",
                   "Gather","Wishes",
                   new { httpMethod = "GET" },
                   new { /* ... */ }).</p>
</div>
