@model Giftee.Web.Models.LogOn
@{
  ViewBag.Title = "LogOn_Form";
}

<script type="text/javascript" 
        src="@Url.Content("~/Scripts/jquery.validate.min.js")">
        </script>
<script type="text/javascript" 
        src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")">
        </script>

@using (Html.BeginForm("Create","Sessions",new { httpMethod="POST" }))
{
  <fieldset>
    <legend>Please enter your e-mail address and password.</legend>
    <div class="editor-label">
      @Html.LabelFor(model => model.Email,"E-Mail")
    </div>
    <div class="editor-field">
      @Html.EditorFor(model => model.Email)
      @Html.ValidationMessageFor(model => model.Email)
    </div>
    <div class="editor-label">
      @Html.LabelFor(model => model.Password)
    </div>
    <div class="editor-field">
      @Html.PasswordFor(model => model.Password)
      @Html.ValidationMessageFor(model => model.Password)
    </div>
    <div class="editor-label">
      <input type="submit" value="Log On" />
    </div>
  </fieldset>
  @Html.ValidationSummary(true)
}

<div class="navigate">
  <p>Forgot your password?
  @Html.ActionLink("Click here to get a new password",
                   "Create","Passwords",
                   new{ httpMethod="GET" },
                   new{ /* ... */ }).</p>
  <p>Haven't signed-up yet?
  @Html.ActionLink("Follow this link to Register",
                   "Create","Registrations",
                   new{ httpMethod="GET" },
                   new{ @class="popup" }) now.</p>
</div>
