@model Giftee.Web.Models.PasswordSet
@{
  ViewBag.Title = "ChangePwd_Form";
}

<script type="text/javascript" 
        src="@Url.Content("~/Scripts/jquery.validate.min.js")">
        </script>
<script type="text/javascript" 
        src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")">
        </script>

@if (TempData.ContainsKey("flash"))
{
  <h3>@TempData["flash"]</h3>
}

@using (Html.BeginForm())
{
  @Html.ValidationSummary(true)
  <fieldset>
    <legend>Please enter your current and desired passwords.</legend>
    <div class="editor-label">
      @Html.LabelFor(model => model.OldPassword,"Current Password")
    </div>
    <div class="editor-field">
      @Html.PasswordFor(model => model.OldPassword)
      @Html.ValidationMessageFor(model => model.OldPassword)
    </div>
    <div class="editor-label">
      @Html.LabelFor(model => model.NewPassword,"Desired Password")
    </div>
    <div class="editor-field">
      @Html.PasswordFor(model => model.NewPassword)
      @Html.ValidationMessageFor(model => model.NewPassword)
    </div>
    <div class="editor-label">
      @Html.LabelFor(model => model.NewPasswordConfirm,
                     "Desired Password (again)")
    </div>
    <div class="editor-field">
      @Html.PasswordFor(model => model.NewPasswordConfirm)
      @Html.ValidationMessageFor(model => model.NewPasswordConfirm)
    </div>
    <p>
      <input type="submit" value="Change Password" />
    </p>
  </fieldset>
}

<div class="navigate">
  <p>Nevermind... I'd like to 
  @Html.ActionLink("view details about my giftee",
                   "Select","Giftees",
                   new{ httpMethod="GET" },
                   new{ /* ... */ }).</p>
  <p>Nevermind... Instead, I'll  
  @Html.ActionLink("review my wishlist",
                   "Gather","Wishes",
                   new{ httpMethod="GET" },
                   new{ /* ... */ }).</p>
</div>